body {
	background-color: black;
	color: white;
	padding-bottom: 40px; 
}

#header {
	border-bottom: 3px solid #E6E600;
	color: black;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
}

#header a {
	color: black;
}

#header a:hover {
	color: grey;
}

#no-border {
	border-radius: 0;
}

#host-header {
	color: black;
	font-size: 1.5em;
	text-align: center;
}

#host-sidebar {
	color: black;
	padding-top: 5px;
}

#host-sidebar li {
	border-bottom: 1px solid black;
}

#host-right {
	float: right;
}

#footclan {
	background-color: #E6E600;
	border-top: 1px solid black;
	bottom: 0;
	color: black;
	height: 20px;
	padding-right: 5px;
	position: fixed;
	right: 0;
	text-align: right;
	width: 100%;
	z-index: 10;
}

.view-container {
	background-color: white;
	border-radius: 3px;
	color: black;
	padding: 0 5px 10px 5px;
}

#chart-container {
	background-color: white;
	border-radius: 3px;
	color: black;
	padding: 0 5px;
	text-align: center;
	width: 500px;
}

.title {
	font-weight: normal;
	text-align: center;
}

hr {
	border-color: black;
}